* {
  box-sizing: border-box;
  z-index: 0;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.App {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-main {
  position: relative;
  background-color: #282c34;
  min-height: 100vh;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

header {
  display: block;
}

.BoxScene {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.ColorInputContainer {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 50px;
  /* For visibility */
  z-index: 2;
}

#ColorInput {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 50px;
  /* For visibility */
  z-index: 2;
}

.PresetInput {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  min-width: 200px;
  max-height: 50px;
  overflow-y: hidden;
  z-index: 2;
  padding: 0;
  margin: 0;
}

.BlurInput {
  display: inline-block;
  position: absolute;
  top: 60;
  left: 0;
  min-width: 200px;
  max-height: 50px;
  overflow-y: hidden;
  z-index: 2;
  padding: 0;
  margin: 0;
}

#demo-select{
  min-width: 200px;
  height: 50px;
  padding: 0;
}

.SceneCanvas {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: lightgreen;
  /* For visibility */
  z-index: 0;
}